.App {
  font-family: sans-serif;
  text-align: center;
  color: #64d2ff;
  background-color: #100f0f;
}
root {
  color: #64d2ff;
  background-color: #100f0f;
}
/* @import url('./styles/styles.module') */
